In [3]:
import pandas as pd
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="ChizimAwele-123."
)

# Create a new database
dbase_name = "mtn_nigeria"
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE {dbase_name};")


cursor.close()
conn.close()

DuplicateDatabase: database "mtn_nigeria" already exists

In [7]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    database = "mtn_nigeria",
    password="ChizimAwele-123."
)

cursor = conn.cursor()
create_table = '''
    CREATE TABLE customer_info (
        name varchar,
        email varchar,
        state_of_origin varchar,
        mobile varchar )
'''


cursor.execute(create_table)


conn.commit()

cursor.close()
conn.close()

DuplicateTable: relation "customer_info" already exists

In [34]:
import psycopg2

# Establish a connection to the PostgreSQL server
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="mtn_nigeria",
    user="postgres",
    password="ChizimAwele-123."
)

# Create a cursor object
cursor = conn.cursor()

# Define the SELECT statement
select_query = "SELECT * FROM customer_info;"

# Execute the SELECT statement
cursor.execute(select_query)

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Process the fetched rows
for row in rows:
    # Access individual columns using index or column names
    column1_value = row[0]
    column2_value = row[1]
    column3_value = row[2]
    
    print(f"{column1_value} | {column2_value} | {column3_value}")

# Close the cursor and connection
cursor.close()
conn.close()

Favour Okpara-Ngbo | fokpara-ngbo@mtn.com | Lagos
Joshua Asekhauno | jasekhauno@mtn.com | Portharcourt
Collins Odoh-Ifeanyi | codoh-ifeanyi@mtn.com | Abuja
Chibundum Umeh | cumeh@mtn.com | Owerri
Clinto Okpara | cokpara@mtn.com | Kaduna

In [33]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    database = "mtn_nigeria",
    password="ChizimAwele-123."
)

cursor = conn.cursor()
insert_query = '''
    INSERT INTO customer_info (name, email, state_of_origin, mobile)
    VALUES (%s, %s, %s, %s)
'''


values =  ("Clinto Okpara", "cokpara@mtn.com", "Kaduna", "08068381138")
    
    
cursor.execute(insert_query, values)
conn.commit()

cursor.close()
conn.close()