In [4]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="ChizimAwele-123."
)

db = "comp_sci_dpt"
conn.autocommit = True
cursor = conn.cursor()

cursor.execute(f"CREATE DATABASE {db};")
print('Database Created!')
cursor.close()
conn.close()

DuplicateDatabase: database "comp_sci_dpt" already exists

In [6]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    database="comp_sci_dpt",
    password="ChizimAwele-123."
)

cursor = conn.cursor()
table = '''
    CREATE TABLE csc102_class_list (
        first_name varchar,
        middle_name varchar,
        surname varchar  )
'''

cursor.execute(table)
conn.commit()

cursor.close()
conn.close()

In [20]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    database="comp_sci_dpt",
    password="ChizimAwele-123."
)

cursor = conn.cursor()

insert = '''
    INSERT INTO csc102_class_list (first_name, middle_name, surname)
    VALUES (%s, %s, %s)
'''

fn =["Chukwuma", "Adebare", "Ikechukwu", "Ekenedirichukwu", "Isaac", "Enoabasi", "Joshua", "Emmanuel", "Fernando", "Nnaedoziem", "April", "Joshua", "Adaugo", "Gina", "Jesse", "Awele", "Jeremiah", "Ifunanya", "Ehi", "Emmanuel", "Chidubem", "AbdulRazaq", "Anuoluwapo", "Chisom", "Emmanuel", "Abdulaziz", "Godsgift", "Ayebaebifiri", "Ikenna", "Chinaecherem", "Basit", "Idameka", "Hans", "Hephzibah", "Ayomide", "Fadhilullahi", "Divine", "Jachimike", "Izuchukwu", "Emmanuel", "Collins", "Ajiri", "Chike", "Chiziterem", "Clinton", "Ezinne", "Henry", "Ayomide", "Daniel", "Chukwuebuka", "Chinonso", "Arnold", "Chiamaka", "Blessing", "Chibundum", "Emmanuel", "IcivirTer", "Dagogo"]
mn = ["Sylvanus", "Ayomide", "David", "Mary", "Oluwatoyosi", "Ekong", "Onyekachukwu", "Chukwuka", "Peter", "Greene", "Tobechi", "Oghenakhogie", "Precious", "Oluwatamilore", "Agu", "Gabriela", "Chijioke", "Nicole", "Duke", "Osagie", "Michael", "Olamidotun", "Nosakhare Oluwadara Peter", "Onyekachi", "Oluwayomi", "Onoruoiza", "David", "Theodore", "Nicholas", "Samval", "Opeyemi", "Success", "Falke", "Manuela", "Abdulmalik", "Abdul-kadir", "Chidera", "MacCliff", "Francis", "Ogbogu", "Chukwudumebi", "Israel", "James", "Fortune", "Osita", "Favour", "Nkonyeasua", "Israel", "Kolawole", "Marcel", "Daniel", "Rume", "Obielumani", "Edidiong", "John", "Junior", "-", "Alfred"]
sn = ["ABONYI", "ADESOKAN", "AGHACHI", "AKABOGU", "AKANDE", "AKPATA", "AKPE", "AMARAME", "AMEH", "ANIKE-NWEZE", "APAKAMA", "ASEKHAUNO", "BON-UNACHUKWU", "CAPTAIN-BRIGGS", "CHARLES-AGU", "CHIZIM", "DANIEL", "EGWUATU", "ELIJAH", "ERHUNMWUNSEE", "EZECHUKWU", "FEMI-SUNMONU", "FESTUS-OLAGBENDE", "GBULIE", "IBIKUNLE-AINA", "IBRAHIM", "IFEANYI", "IKOLI-SPIFF", "IKWUKA", "ILOKA", "INAOLAJI", "IYEUMAME", "MADUGU", "MANUEL", "MEMUD", "MUAZU", "NDUKWE", "NNADI", "NWACHUKWU", "ODEY", "ODOH-IFEANYI", "OGBALOR", "OKALA", "OKECHUKWU", "OKPARA", "OKPARA-NGBO", "OKWUDILI", "OLORUNDARE", "ONAKOYA", "ONYIBOR", "ORAKWE", "OROGUN", "OSUMILI", "SAKO", "UMEH", "USEN", "WASHIMA-MOHAMMED", "WILLIAM-JUMBO"]

for i in range(len(fn)):
    values = (fn[i], mn[i], sn[i])
    cursor.execute(insert, values)
    
  
conn.commit()
cursor.close()
conn.close()