In [1]:
city_1 = input("Enter name of City 1: ")
city_2 = input("Enter name of City 2: ")
QWE = city_1
city_1 = city_2
city_2 = QWE
print(f"The name of City 1 after swapping is {city_1}")
print(f"The name of City 2 after swapping is {city_2}")

Enter name of City 1: Halo
Enter name of City 2: Olah
The name of City 1 after swapping is Olah
The name of City 2 after swapping is Halo

In [2]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 120i

ValueError: could not convert string to float: '120i'

In [3]:
print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")
captain = {'Madiba: ':'Çhubby Obiora-Okafo', 'Blue-Jays: ': 'Christopher Uweh',
          'Cirok: ': 'Alexander', 'TSG Walkers: ': 'Ikechukwu'}
goalkeepers = {'Madiba: ':'Chubby Obiora-Okafor', 'Blue-Jays: ': 'Olamideji Abaniwondea/Jeffery Awagu',
            'Cirok: ': 'Timileyin Pearse/Izuako Jeremy', 'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
    print(pick, captain[pick])
print("\n")
for pick in goalkeepers:
    print(pick, goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Çhubby Obiora-Okafo
Blue-Jays:  Christopher Uweh
Cirok:  Alexander
TSG Walkers:  Ikechukwu


Madiba:  Chubby Obiora-Okafor
Blue-Jays:  Olamideji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide Ojituku

print("FINTECH\nAnnual Tax Revenue (ATR)")
for i in range(2500):
    yoe = float(input("How many years of experience do you have? "))
    age = float(input("What is your age? "))
    if yoe > 25 && age >= 55:
        print("Your ATR is N5,600,000")
    elif yoe > 20 && age >= 45:
        print("Your ATR is N4,480,000")
    elif yoe > 10 && age >= 35:
        print("Your ATR is N1,500,00")
    elif yoe < 10 && age < 35:
        print("Your ATR is N550,000")
    else:
        print("Your details are not in our criteria range")