In [16]:
print("DATA OF BOYS AND GIRLS IN CLASROOM-1 \n GIRLS\n-------")
girls_data = {'Samantha  |':' 17 | 5.5 | 80',
               'Jada      |':' 16 | 6.0 | 85',
               'Jane      |':' 17 | 5.4 | 70',
               'Claire    |':' 18 | 5.9 | 60',
               'Elizabeth |':' 16 | 5.6 | 76',
               'Mary      |':' 18 | 5.5 | 66',
              'Susan     |':' 17 | 6.1 | 87',
              'Waje      |':' 20 | 6.0 | 95',
              'Taibat    |':' 19 | 5.7 | 50',
              'Lilian    |':' 17 | 5.5 | 49',
               }
for pick in girls_data:
    print(pick, girls_data[pick])
print("\nBOYS \n------")
girls_data = {'Charles   |':' 19 | 5.7 | 74',
               'Jude      |':' 16 | 5.9 | 87',
               'James     |':' 17 | 5.8 | 75',
               'Kelvin    |':' 18 | 6.1 | 68',
               'Biodun    |':' 16 | 5.9 | 66',
               'Wale      |':' 18 | 5.5 | 78',
              'Kunle     |':' 17 | 6.1 | 87',
              'Matthew   |':' 20 | 5.4 | 98',
              'Tom       |':' 19 | 5.8 | 54',
              'Kayode    |':' 17 | 5.7 | 60',
               }
for pick in girls_data:
    print(pick, girls_data[pick])

DATA OF BOYS AND GIRLS IN CLASROOM-1
 GIRLS
-------
Samantha  |  17 | 5.5 | 80
Jada      |  16 | 6.0 | 85
Jane      |  17 | 5.4 | 70
Claire    |  18 | 5.9 | 60
Elizabeth |  16 | 5.6 | 76
Mary      |  18 | 5.5 | 66
Susan     |  17 | 6.1 | 87
Waje      |  20 | 6.0 | 95
Taibat    |  19 | 5.7 | 50
Lilian    |  17 | 5.5 | 49

BOYS
------
Charles   |  19 | 5.7 | 74
Jude      |  16 | 5.9 | 87
James     |  17 | 5.8 | 75
Kelvin    |  18 | 6.1 | 68
Biodun    |  16 | 5.9 | 66
Wale      |  18 | 5.5 | 78
Kunle     |  17 | 6.1 | 87
Matthew   |  20 | 5.4 | 98
Tom       |  19 | 5.8 | 54
Kayode    |  17 | 5.7 | 60

In [ ]:
print("FINTECH\nAnnual Tax Revenue (ATR)")
for i in range(2500):
    yoe = float(input("How many years of experience do you have? "))
    age = float(input("What is your age? "))
    if yoe > 25 && age >= 55:
        print("Your ATR is N5,600,000")
    elif yoe > 20 && age >= 45:
        print("Your ATR is N4,480,000")
    elif yoe > 10 && age >= 35:
        print("Your ATR is N1,500,00")
    elif yoe < 10 && age < 35:
        print("Your ATR is N550,000")
    else:
        print("Your details are not in our criteria range")